.container{
    justify-content: center;
    text-align: center;
}

h1{
    font-size: 3em;
    color: green;
}

.imageContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    background-color: green;
    flex-basis: calc(33% - 24px);
    height: 0;
    padding-bottom: calc(33% - 24px);
    display: block;
    margin: 12px;
}

.resetButton{
    margin-top: 50px;
    width: 100px;
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: blue;
}